.light {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%,
     rgba(148,187,233,1) 100%);
    color: black;
  }
  
  .dark {
    background: rgb(81,6,116);
   background: linear-gradient(0deg, rgba(81,6,116,1) 0%, 
   rgba(0,5,61,1) 100%);
    color: white;
  }